n8n/expired-lead-cleanup.json
{
  "name": "Expired Lead Cleanup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily at 03:00 UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/signup_leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "email,user_id,verified_at" },
            { "name": "email_verified", "value": "eq.true" },
            { "name": "converted", "value": "eq.false" },
            { "name": "user_id", "value": "not.is.null" },
            { "name": "verified_at", "value": "lt.{{ new Date(Date.now() - 16 * 86400000).toISOString() }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        },
        "options": {}
      },
      "id": "fetch-expired",
      "name": "Fetch Expired Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "check-has-expired",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-expired",
      "name": "Has Expired Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "const leads = $input.first().json;\nconst leadsArr = Array.isArray(leads) ? leads : [leads];\n\nif (!leadsArr.length || !leadsArr[0].email) {\n  return [{ json: { _skip: true } }];\n}\n\nreturn leadsArr.map(lead => ({ json: lead }));"
      },
      "id": "split-leads",
      "name": "Split Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, -100]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "check-skip",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-not-skip",
      "name": "Has Valid Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, -100]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{$env.SUPABASE_URL}}/auth/v1/admin/users/{{ $json.user_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "delete-auth-user",
      "name": "Delete Auth User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, -100]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/recovery_emails_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "email", "value": "eq.{{ $('Has Valid Leads?').item.json.email }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "delete-email-logs",
      "name": "Delete Email Logs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, -100]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/signup_leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "email", "value": "eq.{{ $('Has Valid Leads?').item.json.email }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "delete-signup-lead",
      "name": "Delete Signup Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, -100]
    },
    {
      "parameters": {},
      "id": "no-op-end",
      "name": "No Expired — Stop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [660, 100]
    },
    {
      "parameters": {},
      "id": "no-op-skip",
      "name": "No Valid — Stop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1100, 100]
    }
  ],
  "connections": {
    "Daily at 03:00 UTC": {
      "main": [
        [{ "node": "Fetch Expired Leads", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Expired Leads": {
      "main": [
        [{ "node": "Has Expired Leads?", "type": "main", "index": 0 }]
      ]
    },
    "Has Expired Leads?": {
      "main": [
        [{ "node": "Split Leads", "type": "main", "index": 0 }],
        [{ "node": "No Expired — Stop", "type": "main", "index": 0 }]
      ]
    },
    "Split Leads": {
      "main": [
        [{ "node": "Has Valid Leads?", "type": "main", "index": 0 }]
      ]
    },
    "Has Valid Leads?": {
      "main": [
        [{ "node": "Delete Auth User", "type": "main", "index": 0 }],
        [{ "node": "No Valid — Stop", "type": "main", "index": 0 }]
      ]
    },
    "Delete Auth User": {
      "main": [
        [{ "node": "Delete Email Logs", "type": "main", "index": 0 }]
      ]
    },
    "Delete Email Logs": {
      "main": [
        [{ "node": "Delete Signup Lead", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "Marketing" }
  ],
  "triggerCount": 1,
  "active": false
}
